.best
  width: 100%
  height: 100vh
  // min-height: 1043px
  margin: 0 auto
  padding: 0 15px
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  justify-content: flex-end
  position: relative
  background-image: url("../images/Shape_1.png")
  background-repeat: no-repeat
  background-size: cover
  background-color: $background-color
  // .best__wrapper
  &__wrapper
    position: relative
    width: 100%
    max-width: 611px
  // .best__title
  &__title
    font-size: 36px
    font-weight: 700
    margin-bottom: 32px
  // .best__descriptio
  &__description
  // .best__btn-group
  &__btn-group
    margin-top: 50px
    display: flex
    justify-content: center
    .btn + .btn
      margin-left: 20px
  // .best__img
  &__img-wrapper
    line-height: .7
    margin: 0 auto
    position: relative
    bottom: 0
  &__img
    height: 100%
  // .best__link
  &__link
    line-height: 1
    display: inline-block
    position: absolute
    z-index: 50
    bottom: -35px
    &:hover, &:focus
      transform: scale(1.1)
  // .best__arrow
  &__arrow




